$color_primary: #471237;
$color_secondary: #f0f0f0;
$color_ternary: #f59e0a;
$color_qu: #f1f1f1;
$color_border: #e8e8e8;
$color_features_background: #f9f9f9;
$color_border: #cdcdcd;
$color_border_1: #cecece;
$color_text: #263238;
$color_blue: #016fb9;

// font-size
$font_size1rem: 1rem;
$font_size1rem_: 1.5rem;
$font_size2rem: 2rem;
$font_size2rem_: 2.5rem;
$font_size3rem: 3rem;
$font_size4rem: 4rem;
$font_size5rem: 5rem;

// font-weights
$font_weight_400: 400;
$font_weight_500: 500;
$font_weight_600: 600;
$font_weight_700: 700;
$font_weight_800: 800;
$font_weight_900: 900;
