@mixin center(
  $direction: column,
  $justifyContent: center,
  $alignItems: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin displayFlexContentCenter($direction: row, $justifyContent: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
}

@mixin leftRightBorderRadius {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

@mixin positionAbsoluteCenter {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
