.font_size1rem {
  font-size: $font_size1rem;
}

.font_size15rem__ {
  font-size: $font_size1rem_;
}

.font_size2rem {
  font-size: $font_size2rem;
}

.font_size25rem__ {
  font-size: $font_size2rem_;
}

.font_size3rem {
  font-size: $font_size3rem;
}

.font_size4rem {
  font-size: $font_size4rem;
}

.font_weight400 {
  font-weight: $font_weight_400;
}

.font_weight500 {
  font-weight: $font_weight_500;
}

.font_weight600 {
  font-weight: $font_weight_600;
}

.font_weight700 {
  font-weight: $font_weight_700;
}

.font_weight800 {
  font-weight: $font_weight_800;
}

.flex {
  display: flex;
}

.justify_content {
  justify-content: center;
}

.align_items {
  align-items: center;
}

.padding {
  padding: 1rem;
}

.padding-top1rem {
  padding-top: 1rem;
}

.padding-bottom1rem {
  padding-top: 1rem;
}

.padding-top2rem {
  padding-top: 2rem;
}

.padding-bottom2rem {
  padding-top: 2rem;
}

.padding-top3rem {
  padding-top: 3rem;
}

.padding-bottom3rem {
  padding-top: 3rem;
}

.padding-top4rem {
  padding-top: 4rem;
}

.padding-bottom4rem {
  padding-top: 4rem;
}

.margin1rem {
  margin: 1rem;
}

.margin2rem {
  margin: 2rem;
}

.margin3rem {
  margin: 3rem;
}

.margin-top1rem {
  margin-top: 1rem;
}

.margin-bottom1rem {
  margin-bottom: 1rem;
}

.margin-top2rem {
  margin-top: 2rem;
}

.margin-bottom2rem {
  margin-bottom: 2rem;
}

.margin-top3rem {
  margin-top: 3rem;
}

.margin-bottom3rem {
  margin-bottom: 3rem;
}

.margin-top4rem {
  margin-top: 4rem;
}

.margin-bottom4rem {
  margin-bottom: 4rem;
}

.flex_direction_column {
  flex-direction: column;
}
